.wrapper {
  padding: 20px;
  box-sizing: border-box;
}
.info {
  display: flex;
  padding-bottom:20px ;
}
.info h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}
.contacts {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.tel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  text-decoration: none;
  color: black;
}
.social{
    display: flex;
    gap:60px ;
    padding: 0 20px;
}
.address {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.adress_link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: black;
}
.work_info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}
.work_hours {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
